.link {
  width: 100%;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 180px;
  border: 1px black solid;
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  --hover: #ffffff;
  transition: 0.25s;
  cursor: pointer;
}

.card:hover,
.card:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.25em);
  border-color: var(--hover);
  color: #fff;
}

.imageContainer {
  position: relative;
  width: 100%;
  height: 150px;
  overflow: hidden;
  align-items: flex-start;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.title {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  margin: 0;
  padding: 10px;
  font-weight: bold;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.2);
}

.genres {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3px;
  font-family: "Roboto", sans-serif;
  color: rgba(245, 237, 220, 0.9);
  font-weight: bold;
  font-size: 11px;
  padding: 5px;
  width: 90%;
}
