/* Estilos para el componente homeContainer */
.homeContainer {
  display: grid;
  grid-template-rows: auto 1fr;
  min-height: 100vh; /* Cambiamos 'height' por 'min-height' */
  width: 100%; /* Ajustamos el ancho al 100% */
  margin: 0; /* Quitamos los márgenes */
  background: linear-gradient(45deg, #ffc13b 16%, #ff007f, #00ffcc 84%);
  background-size: 400% 400%;
  animation: gradientAnimation 15s ease infinite;
  overflow: hidden;
}

/* Estilos para el contenido dentro del componente */
.contentContainer {
  display: grid;
  grid-template-columns: 1fr 6fr;
  min-height: 100vh;
  width: 100%;
  margin: 0;
  overflow: hidden;
}

/* Animación para el fondo gradiente */
@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
