/* Estilos para el componente homeContainer */
.homeContainer {
  display: grid;
  grid-template-rows: auto 1fr;
  min-height: 100vh; /* Cambiamos 'height' por 'min-height' */
  background: linear-gradient(45deg, #ffc13b 16%, #ff007f, #00ffcc 84%);
  background-size: 400% 400%;
  animation: gradientAnimation 15s ease infinite;
}

/* Estilos para el contenido dentro del componente */
.contentContainer {
  display: grid;
  grid-template-columns: minmax(140px, 1fr) 5fr;
  min-height: 100vh; /* Agregamos 'min-height' */
}

/* Animación para el fondo gradiente */
@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
