.landing {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  background: linear-gradient(45deg, #ffc13b 16%, #ff007f, #00ffcc 84%);
  background-size: 400% 400%;
  animation: gradientAnimation 15s ease infinite;
}

.landingImages {
  width: 80%;
  height: 80%;
  display: flex;
  flex-direction: row;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.mainImage {
  width: 40%;
  background-image: url(./main-background.jpg);
  opacity: 0.9;
  position: relative;
}

.contentWrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}

.slogan {
  font-size: 18px;
  margin-bottom: 20px;
}

.getStartedButton {
  cursor: pointer;
  position: relative;
  padding: 4px 13px;
  background: #00e1ff;
  font-size: 20px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  color: white;
  transition: all 1s;
  border: 1px solid #00aeff;
}

.getStartedButton:after,
.getStartedButton:before {
  content: " ";
  width: 8px; /* Ajusta el tamaño del efecto de borde en diagonal */
  height: 8px; /* Ajusta el tamaño del efecto de borde en diagonal */
  position: absolute;
  border: 0px solid #fff;
  transition: all 1s;
}

.getStartedButton:after {
  top: -1px;
  left: -1px;
  border-top: 4px solid #ffd700; /* Ajusta el grosor del borde en diagonal */
  border-left: 4px solid #ffd700; /* Ajusta el grosor del borde en diagonal */
}

.getStartedButton:before {
  bottom: -1px;
  right: -1px;
  border-bottom: 4px solid #ffd700; /* Ajusta el grosor del borde en diagonal */
  border-right: 4px solid #ffd700; /* Ajusta el grosor del borde en diagonal */
}

.getStartedButton:hover {
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

.getStartedButton:hover:before,
.getStartedButton:hover:after {
  width: 100%;
  height: 100%;
}

.peopleImages {
  display: flex;
  flex-direction: column;
  width: 35%;
}

.manImage {
  width: 100%;
  height: 50%;
  background-image: url(./man.jpg);
  background-size: cover;
  background-position: center;
  opacity: 0.8;
}

.womanImage {
  width: 100%;
  height: 50%;
  background-image: url(./woman.jpg);
  background-size: cover;
  background-position: center;
  opacity: 0.8;
}

.consolesImages {
  width: 35%;
  height: 100%;
  background-image: url(./fondo-mesa.jpg);
  background-size: cover;
  background-position: center;
  opacity: 0.8;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
